.Check_out_product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Check_out_product_info {
  padding-left: 20px;
}

.Remove_from_Basket {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 15px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 5px;
  border-radius: 24px;
  box-shadow: 0 6px 18px -9px rgb(0, 0, 0, 0.75);
  cursor: pointer;
}

.Check_out_product_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.Check_out_product_rating {
  display: flex;
}

.Check_out_product_title {
  font-size: 17px;
  font-weight: 800;
}
